button {
  display: flex;
  padding: 8px 12px;
  border-radius: 6px;
  box-shadow: 0px 3px 4px 0px rgba(232, 234, 163, 0.08) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.04);

  justify-content: space-between;
  align-items: center;
  color: #E3E3E3;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  filter: url(#distort);
  
  mix-blend-mode: lighten;
}

button:hover {
  transform: scale(1.02);
  transition: transform 0.2s ease-in-out;
}

button.primary {
  border: 1px solid #EA7110;
  background: #EB610C;
}

button.link {
  border: 1px solid #717171;
  background: #595654;
  
  gap: 12px;
}

button.filter {
  border-radius: 10px;
  border: 0.3px solid #1b1b1b;
  box-shadow: none;
  background: #1c1c1c;
  color: #E0E0E0;
  font-family: "IBM Plex Sans JP";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  gap: 7px;
  padding: 6px 12px;
  filter: none;
  
  mix-blend-mode: normal !important;
}

button.fill-width {
  align-self: stretch;
  text-align: center;
  justify-content: center;
  width: 100% !important;
}

button.icon {
  justify-content: space-between !important;
}

a:has(> button) {
  text-decoration: none;
  width: 100%;
  cursor: pointer;
}

.button-group {
  display: inline-flex;
  gap: 10px;
  flex-wrap: wrap;
}

@media (max-width: 950px) {
  button {
    font-size: 18px;
    padding: 12px 12px;
    margin-top: 12px;
  }
}

/* Accordion styles */
#filter-accordion .accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s cubic-bezier(.68,-0.55,.27,1.55), padding 0.2s;
  padding: 0 0;
  margin-bottom: 8px;
}

#filter-accordion.open .accordion-content {
  max-height: 200px !important;
  padding: 12px 0 8px 0;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s cubic-bezier(.68,-0.55,.27,1.55), padding 0.2s;
  padding: 0 0;
  margin-bottom: 8px;
}

.accordion-content.open {
  max-height: 200px !important;
}

#filter-accordion.open + .accordion-content {
  max-height: 200px !important;
  padding: 12px 0 8px 0;
}

/* Chip styles */
.chip-group {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  margin-top: 10px !important;
  padding: 3px 0;
}

.chip {
  display: inline-block;
  background: #333;
  color: #eee;
  border-radius: 16px;
  padding: 4px 14px;
  font-size: 0.85em;
  cursor: pointer;
  transition: background 0.15s, color 0.15s;
  border: 1px solid #444;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  font-family: "IBM Plex Sans JP", sans-serif;
  transition: transform 0.6s cubic-bezier(.68,-0.55,.27,1.55);
  font-weight: 600;

  --chipRotate: 0deg;
}
.chip:hover {
  background: #444;
  color: #fff;
  transform: rotate(var(--chipRotate)) scale(1.05);
}

.chip.selected {
  background: #eb610c;
  color: #fff;
  border-color: #eb610c;
  font-family: "Tektur", sans-serif;
  animation: spin 0.5s cubic-bezier(.68,-0.55,.27,1.55) forwards;
}

@keyframes spin {
  0% {
    transform: rotate(0deg) scale(1);
  }
  5% {
    transform: rotate(0deg) scale(0.98);
  }
  100% {
    transform: rotate(360deg) scale(1.05);
  }
  
}